@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 16px;
  color: #2e2f42;
  letter-spacing: 0.64px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
section {
  margin-left: 24px;
}
ul {
  padding: 0;
}
button {
  color: #fff;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  padding: 8px 16px;
  border-radius: 8px;
  background: #4e75ff;
  border: 1px solid #4e75ff;
  display: inline-flex;
  width: fit-content;
}
.destroy {
  background: #ff4e4e;
  border: 1px solid #ff4e4e;
}
.destroy:hover {
  background: #ff7070;
  border: 1px solid #ff7070;
  cursor: pointer;
}

.controls-input {
  padding: 8px 72px;
  border-radius: 8px;
  border: 1px solid #808080;
  gap: 10px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.64px;
}
controls-section {
  display: flex;
}
button:hover {
  background: rgba(108, 140, 255, 1);
  border: 1px solid rgba(108, 140, 255, 1);
  cursor: pointer;
}
.categories-list {
  text-decoration: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.item {
  max-width: 360px;
  padding: 16px;
  background-color: #f6f6fe;
  display: blok;
  border-radius: 8px;
}
.item li {
  list-style: none;
}
.item h2 {
  font-weight: 600;
}
.item-list {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item-list li {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
#name-input {
  border-radius: 4px;
  border: 1px solid #808080;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  margin-bottom: 16px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
}
.output {
  margin: 0;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 48px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding-left: 0;
}
.list {
  width: 30%;
  text-decoration: none;
}
.gallery li {
  max-width: 360px;
}
.gallery li img {
  object-fit: cover;
  width: 100%;
  /* block-size: fit-content; */

  /* width: 360px; */
  height: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  max-width: 408px;
  gap: 8px;
}
.login-form input {
  border-radius: 4px;
  border: 1px solid #808080;
  height: 40px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.64px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
}
.login-form input:last-child {
  margin-bottom: 16px;
}
.login-form input:hover {
  border: 1px solid #000;
}

.login-form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}
